# dependencies
node_modules

# demo
demo

# typescript
*.ts
!*.d.ts

# git
.git
.gitignore

# config
tsconfig.json
config
gulpfile.js
*.html
*.js.map

# misc
.github
*.log
prod
.editorconfig
bin
obj

# vsfiles
ASUI.csproj
ASUI.csproj.user
web.config
web.Debug.config
web.Release.config