<div asAnchor=""></div>
<h1>ASUI DialogBox</h1>
<div class="stackpanel">
    <div>
        <input type="button" class="btn btn-primary" name="btnOpenpopup" value="Open Model Window" (click)="openPopup()" />
    </div>

    <div>
        <input type="button" class="btn btn-primary" name="btnOpenpopup" value="Open Confirm Window" (click)="openConfirm()" />
    </div>
    <div>
        <input type="button" class="btn btn-primary" name="btnOpenpopup" value="Open Alert Window" (click)="openAlert()" />
    </div>
</div>